/* Reset some default spacing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: white;
  color: white;
  font-family: Calibri, sans-serif;

  display: flex;
  flex-direction: column;
  align-items: center;      /* centers horizontally */
  justify-content: center;  /* centers vertically */
  text-align: center;
}

/* Title */
h1 {
  font-size: 60px;
  font-weight: 1000;
  margin-bottom: 30px;
}

/* Stopwatch display */
.time p {
  font-size: 70px;
  font-weight: 1000;
  background-color: #09A1E8;
  color: white;
  padding: 15px 40px;
  border-radius: 12px;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 300px;
}

/* Buttons container */
.btn {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  gap: 20px; /* equal spacing between buttons */
}

/* Buttons styling */
button {
  color: white;
  border: none;
  font-size: 20px;
  font-weight: 700;
  border-radius: 10px;
  padding: 10px 25px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

button:hover {
  transform: scale(1.1);
}

.start {
  background-color: green;
}

.stop {
  background-color: red;
}

.reset {
  background-color: #B026FF;
}

/* Footer */
footer {
  font-size: 15px;
  margin-top: 80px;
  color: white;
}